
.text-gold{
    color: rgba(108, 68, 2, 0.875);
}
.bg-radium{
    background-color: rgba(11, 99, 68, 0.937);
}

.a{
  color: blue;
  
}
.b{
    font-weight: 900;
}
a{
    text-decoration:line-through;
    color: aliceblue;
}